body,h1,h2,h3,section,div,ul,li {
margin: 0;
padding: 0;
}

body {
  font-family: 'Shippori Mincho', serif;
}

a {
  text-decoration: none;
}

#top {
  display: none;
}

header {
  height: 75px;
  padding: 30px 0 30px 0;
}

header h1 {
  color: red;
  font-size: 33px;
  float: left;
  line-height: 75px;
}

header ul {
  float: right;
  padding-right: 30px;
  line-height: 75px;
}

header ul li {
  float: left;
  color: blue;
  text-decoration: none;
  list-style: none;
  padding-right: 27px;
  font-size: 27px;
}

.menubar {
  display: none;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

.menu-block {
  display: none;
}

#top-wrapper {
  text-align: center;
  padding-bottom: 30px;
  height: 800px;
}


.slide {
position: relative; /* 親要素にrelativeを指定 */
height: 600px;
}

.slide img {
width: 750px;
position: absolute; /* absoluteで画像を重ねる */
top: 0;
left: 50%;
transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
}

.img {
  opacity: 0;
  transition: 3s;
}

.active {
  opacity: 1;
  transition: 3s;
}

footer {
  text-align: center;
  height: 50px;
  padding: 30px;
}


/* artwork.html */
#artwork-top img {
  width: 750px;
}


@media screen and (max-width: 768px) {
  .container{
    width: 80%;
    margin: 0 auto;
  }

  header ul {
    display: none;
  }

  header {
    padding-top: 0px;
  }

  header h1 {
    line-height: 60px;
  }


  .menu-block {
    display: block;
    position: absolute;
    top: -360px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    z-index: 20202020;
    transition: 1s;
  }

  .menu-open {
    top: 0px;
    transition: 1s;
  }

  .menu-block li {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid white;
  }

  .menu-block ul a {
    display: block;
    background-color: black;
    opacity: 45%;
    color: white;
  }

  .close-btn {
    background-color: black;
    opacity: 45%;
    color: white;
    cursor: pointer;
  }
  .close-btn:hover {
    opacity: 0.3;
    transition: 0.5s;
  }

  .menu-block ul a:hover {
    opacity: 0.3;
    transition: 1s;
  }

  .menu-bar {
    height: 36px;
    text-align: center;
    width: 100%;
    background-color: #dcdcdc;
  }

  .menubar {
    width: 27px;
    color: white;
    display:inline-block;
    padding-top: 3px;
  }

  section {
    margin-top: 20px;
  }

  #top-wrapper {
    height: 500px;
  }

  #top-wrapper img {
    width: 100%;
  }

  .slide {
    height: 400px;
  }
  /* artwork */

  #artwork-top img {
    width: 100%;
  }

  .dn {
    display: none;
  }


}
